.main__content {
  padding: 8em 0em;
  display: flex;
  flex: 1 1 85%;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
  background: #e0f2f1;
}
.main__content .container {
  width: 800px;
  margin: 0 auto;
  padding: 0em;
}
