.main {
  height: 100vh;
}
.main__wrapper {
  display: grid;
  height: 100%;
  background: #e0f2f1;
}
.full {
  grid-template-columns: auto;
}
.split {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 26px;
  padding: 0em 10em;
}
.empty__state {
  width: auto;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty__state.show {
  display: flex;
}
.empty__state h2 {
  margin: 0em;
  font-size: 18px;
  text-align: center;
}
